body {
	text-align:justify;
}

.cvPage {
	margin:4% 10%;
	border:1px solid #555;
	box-shadow:0 10px 50px 15px rgba(0, 0, 0, 0.6);
}

.content {
	margin:0 2em;
}

h2 {
	text-align: center;
}

h2+p {
	text-align: center;
}

h3{
	border-bottom: 1px solid #000; 
}

h3 em{
	text-align: right;
}

h4 em{
    float: right;
}

p em:last-child{
	float:right;
}